<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewport" content = "initial-scale = 2, user-scalable = no">

    <style>
    #login_or_signup{
    	text-align: center;
    }
    #rental_form{
        text-align: center;
        padding-top: 10px;
    }
    </style>

    <script charset="utf-8">

     function getCookie(cName) {
        cName = cName + '=';
        var cookieData = document.cookie;
        var start = cookieData.indexOf(cName);
        var cValue = '';
        if(start != -1){
            start += cName.length;
            var end = cookieData.indexOf(';', start);
            if(end == -1)end = cookieData.length;
            cValue = cookieData.substring(start, end);
        }
        return unescape(cValue);
    }

    function setCookie(c_name,value,exdays)
	{
		var exdate=new Date();
		exdate.setDate(exdate.getDate() + exdays);
		var c_value=(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
		document.cookie=c_name + "=" + c_value;
	}

    function logout() {
        setCookie("username","no_user");
    }

	function init() {
        //setting cookie "username"
		{% block body %}
            {% if username: %}
				setCookie("username","{{username}}",50);

            {% endif %}
		{% endblock %}
        username = getCookie("username");

        //rendering lougin_or_signup section
        if (username !="no_user") {
            document.getElementById("login_or_signup").innerHTML = username + "|<a href='/' onclick='logout()'>로그아웃</a>";
            document.getElementById("submit").disabled = false;
            document.getElementById("username").value = username;
        } else{
            document.getElementById("login_or_signup").innerHTML = "<a href='/signin'>로그인</a>|<a href='/signup'>회원가입</a>";
            document.getElementById("submit").disabled = true;
        };

        {% block alert %}
            {% if just_rented: %}
                alert("대출되었습니다! 7일 후에 반납해 주세요");
            {% endif %}
        {% endblock %}

	}
    </script>

</head>

<body onload="init()">

	<div id="login_or_signup">
	</div>
    <div id="rental_form">
            <form method="post">
                <label>제목:</label><input name="title">
                <input type="hidden" name="username" id="username">
                <input id="submit" type="submit" value="대출" disabled="true">
            </form> 
         </div>
	   </body>
	</html>










