<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <style type="text/css">
    .center-wrapper{
      text-align: center;
    }
    .center-wrapper * {
      margin: 0 auto;
    }
    input{
        width: 50;
    }
    </style>
</head>
<body>

<div data-role="page" class = "center-wrapper">

    <div data-role="header">
        <h1>회원가입</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
       <label>이름:</label> 
       <input name="username" id="username" placeholder="이름" value="" type="text">

       <label>전화번호</label> 
       <input name="phoneNumber" id="phoneNumber" value="" type="tel">       

       <label>이메일:</label> 
       <input name="email" id="email" value="" type="email">        

       <label>비밀번호:</label> 
       <input name="password" id="password" value="" type="password"> 

       <label>비밀번호 확인:</label> 
       <input name="password_check" id="password_check" value="" type="password"> 

    </div><!-- /content -->

</div><!-- /page -->

</body>
</html